# excluding actionscript binaries
/gui/actionscript/bin
/gui/actionscript/obj
/gui/actionscript/swc

# excluding output files
/output

# excluding builder tools
/tools

# excluding personal files
/topic
/temp
