# Excluding build
build/
# Excluding release
release/
# Excluding tools
tools/
# Excluding topic
topic/
# Excluding temp
temp/
# Excluding version
version.cfg
# Excluding actionscript binaries
gui/actionscript/bin/
gui/actionscript/obj/
gui/actionscript/swc/
